@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --black-gradient: linear-gradient( 144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.Main {
    background-image: url(../src/assets/Winter1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blur {
    border-left: 5px solid rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(14.5px);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}